@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 1.5em 1.5em 0 1.5em;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 50%;
  z-index: 999;
  display: none;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background: rgb(255, 255, 255);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .second-nav-part {
  display: none;
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 50%;
  z-index: 999;
}
header .second-nav-part ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
header .second-nav-part ul a {
  color: #000000;
  padding: 0.75em 2em;
  display: block;
}
header .second-nav-part ul a:hover {
  background: rgb(255, 255, 255);
}
header .logo {
  position: absolute;
  right: 50%;
  width: 7em;
  cursor: pointer;
  transform: translateX(50%);
}
header svg {
  width: 2em;
  margin-top: -0.6em;
  cursor: pointer;
}
header .menu {
  transform: translateY(7px);
}

.hero-section {
  margin: 2em -1.5em 0 -1.5em;
  width: 100vw;
  height: 30vh;
  min-height: 300px;
}
.hero-section .background {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-section .background img {
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.hero-section .background p {
  padding-top: 4em;
  text-align: center;
  z-index: 99;
  font-family: "Playfair Display";
  color: rgb(255, 255, 255);
  font-size: 2em;
}

.quartos-section .container-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.quartos-section .container-grid .processing .processing-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.quartos-section .container-grid .processing .processing-bar .first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423836;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  position: relative;
}
.quartos-section .container-grid .processing .processing-bar .first::after {
  content: "Quartos";
  color: #000000;
  position: absolute;
  top: 0;
  transform: translateY(-25px);
}
.quartos-section .container-grid .processing .processing-bar .second {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423836;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  position: relative;
}
.quartos-section .container-grid .processing .processing-bar .second::after {
  content: "Informações";
  color: #000000;
  position: absolute;
  top: 0;
  transform: translateY(-25px);
}
.quartos-section .container-grid .processing .processing-bar .third {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423836;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  position: relative;
}
.quartos-section .container-grid .processing .processing-bar .third::after {
  content: "Pagamento";
  color: #000000;
  position: absolute;
  top: 0;
  transform: translateY(-25px);
}
.quartos-section .container-grid .processing .processing-bar .line {
  height: 2px;
  width: 100px;
  background-color: #423836;
}
.quartos-section .container-grid .processing .processing-bar .done {
  background-color: #423836;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2em;
  text-align: left;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 1em;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos .quarto {
  display: flex;
  flex-direction: column;
  background-color: #423836;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1em;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos .quarto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos .quarto .info {
  padding: 20px;
  color: rgb(255, 255, 255);
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos .quarto .info h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 2.4em;
  text-align: left;
}
.quartos-section .container-grid .processing .container-total-info .envelope-quartos .quarto .info p {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}
.quartos-section .container-grid .container-total {
  background-color: #423836;
  margin-top: 10px;
  padding: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  max-height: 350px;
}
.quartos-section .container-grid .container-total h1 {
  font-family: "Playfair Display";
  font-size: 2.3em;
  font-weight: 400;
  padding-bottom: 7em;
}
.quartos-section .container-grid .container-total hr {
  margin-bottom: 1em;
}
.quartos-section .container-grid .container-total a {
  margin: 0;
  padding: 0;
}
.quartos-section .container-grid .container-total a .btn-finalizar {
  background-color: rgb(255, 255, 255);
  border: 2px solid #423836;
  color: #423836;
  font-size: 1em;
  padding: 7px 20px;
  margin-top: 2em;
  margin-left: -20px;
  transition: color 0.5s;
  transition: 0.5s;
}
.quartos-section .container-grid .container-total a .btn-finalizar:hover {
  background-color: #423836;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: 100vw;
  margin: 15em -1.5em 0 -1.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer .envelope-areas {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
footer .envelope-areas .area {
  min-width: 150px;
  padding: 15px;
}
footer .envelope-areas .area p {
  text-transform: uppercase;
  font-weight: 500;
}
footer .envelope-areas .area ul a {
  text-decoration: none;
}
footer .envelope-areas .area ul li {
  font-weight: 300;
  transition: 0.5s;
  list-style-type: none;
}
footer .envelope-areas .area ul li:hover {
  cursor: pointer;
  transform: translateX(5px);
  color: #c9c9c9;
}

@media only screen and (min-width: 450px) {
  .quartos-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .quartos-section .container-main .envelope-filters {
    flex-direction: row;
    justify-content: space-between;
  }
  .quartos-section .container-total-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 940px;
    width: 100%;
  }
  .quartos-section .container-total-info .envelope-quartos .quarto {
    width: 100%;
  }
  .quartos-section .container-total-info .envelope-quartos .quarto img {
    max-height: 200px;
  }
  .quartos-section .container-total-info .container-total {
    max-height: 350px;
    margin-left: 20px;
    margin-top: 3.6em;
  }
}
@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em;
    font-family: "Poppins", sans-serif;
  }
  .hero-section img {
    margin: 0em 0em 0 0em;
  }
  .quartos-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .quartos-section .container-total-info .envelope-quartos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .quartos-section .container-total-info .envelope-quartos h1 {
    text-align: left;
  }
  .quartos-section .container-total {
    margin-left: 20px;
    max-height: 440px;
    margin-top: 2em;
  }
  footer {
    margin: 4em 0em -1.5em -1.5em;
    width: 100vw;
  }
  footer .envelope-areas {
    flex-direction: row;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  .wrapper-nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    align-items: center;
  }
  header .second-nav-part {
    position: unset;
    display: block;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
  }
  header .second-nav-part ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  header .second-nav-part ul .btn-reservar {
    background-color: #423836;
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    font-size: 1rem;
    transition: 0.5s;
  }
  header .second-nav-part ul .btn-reservar:hover {
    background-color: #100d0d;
    cursor: pointer;
  }
  header .second-nav-part ul a {
    color: #000000;
    padding: 0.5em 1.5em;
    font-size: 1rem;
  }
  header .second-nav-part ul a:hover {
    background: none;
    text-decoration: none;
  }
  header .second-nav-part ul a .icon-profile {
    width: 0.8em;
    transform: translateY(1px);
    margin-right: 3px;
  }
  nav {
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  nav ul a {
    color: #000000;
    padding: 0.75em 3em 0.75em 0em;
    font-size: 1rem;
    position: relative;
  }
  nav ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 50%;
    height: 2px;
    background-color: #423836;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
    margin-top: -5px;
  }
  nav ul a:hover::after {
    transform: scaleX(1);
  }
  .quartos-section {
    justify-content: center;
  }
  .quartos-section .container-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    max-width: 920px;
  }
  .quartos-section .container-grid .processing {
    padding-top: 20px;
  }
  .quartos-section .container-grid .processing .processing-bar .line {
    width: 170px;
  }
  .quartos-section .container-grid .container-total-info {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .quartos-section .container-grid .container-total-info .envelope-quartos .quarto img {
    width: 100%;
  }
  .quartos-section .container-grid .container-total {
    margin-left: 20px;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    margin-top: 2em;
  }
}
@media only screen and (min-width: 1450px) {
  .wrapper-nav {
    width: 1400px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=pagamento.css.map */